body{
background-image: url("fondo.png");

}



.cabecera{
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: 250px;


  background-color: #CE1A36;
}

.menu{
  margin: 0px;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: 20px;

  background-color: orange;
}

.inicio{
  width: 10%;
  height: 20px;
  background-color: gray;
  float: left;
}

.sombra{
  width: 10%;
  height: 20px;
  background-color: #D0D0D0;
  float: left;
}



.imagen1{
  width: auto;
  height: 250px;
  float: left;
}

.t1{
  font-size: 130px;
  font-family: 'Helvetica';
  color: #5B1C00;
  float: left;
  margin: 0px;
  margin-top: 40px;



}

.t2{
  font-size: 50px;
  font-family: 'Helvetica';
  color: #1C0900;
  float: left;
  margin: 0px;
  margin-top: 110px;
}

a{
  margin: 0px;
  font-family: 'Helvetica';
  font-size: 12px;
  color: black;
  margin: 40px;
}

.contenedor{
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: 2200px;
  margin-bottom: 100px;
  text-align: center;



  background-color: #100719;
}

.texto1{
  font-size: 20px;
  font-family: 'Helvetica';
  margin: 0px;


  color: white;

}

.cuento{
  width: 700px;
  height: 500px;
  background-color: #086A87;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  border-radius: 3%;
}

h1{
  color: white;
  font-family: 'Helvetica';
  margin-left: 15px;

}

h3{
  color: white;
  font-family: 'Helvetica';
  font-style: italic;
  margin-left: 15px;

}

.tcuento{
  color: white;
  text-align: justify;
  margin: 15px;
}

.tcuento2{
  color: #8A0829;
  text-align: justify;
  margin: 15px;
}

.copinion{
  width: 700px;
  height: 300px;
  margin-top: 20px;
  background-color: #8A0829;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  overflow: scroll;
}

.texto2{
  font-size: 20px;
  font-family: 'Helvetica';
  margin: 0px;

  margin-bottom: 20px;


  color: white;

}

.ccritica{
  width: 700px;
  height: 300px;
  margin-top: 20px;
  background-color: #2E3B0B;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  overflow: scroll;
  text-align: center;
}


.contenedor2{
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  height: 800px;
  margin-bottom: 100px;


  background-color: #3B0B17;
}

.cuento2{
  width: 700px;
  height: 700px;
  background-color: orange;
  margin-left: 280px;
  overflow: scroll;
  border-radius: 3%;
}

.definicion{
  font-family: 'Helvetica';
  color: white;
  margin: 15px;
  text-align: justify;
}



dd{
  font-style: oblique;
  color:white;
  margin: 0px;
}

.imgautor{
  width: 260px;
  height: 300px;
  float: left;
  background-color: #2A1B0A;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 3%;
}

.ccritica2{
  width: 700px;
  height: 300px;
  margin-top: 20px;
  background-color: #CE1A36;
  margin-left: 15px;
  margin-right: auto;
  border-radius: 3%;
  overflow: scroll;
  text-align: center;
}

.imgautor2{
  width: 250px;
  height: 290px;
  float: left;
  background-color: red;
  margin: 5px;
  border-radius: 3%;
}
